//========Fonts========//
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap');

$fonts: (
    titles: 'Fraunces',
    text: 'Barlow',
);

$sizes: (
    extra-small: 0.625rem, //10px
    small: 0.938rem, //15px
    semi-medium: 1.25rem, //20px
    semi-medium2: 1.563rem, //25px
    medium: 1.875rem, //30px
    medium-2: 2.188rem, //35px
    semi-large: 2.5rem, //40px
    semi-large2: 2.813rem, //45px
    large: 3.125rem, //50px
    large-1: 4.063rem, //65px
    large-2: 4.688rem, //75px
    extra-large: 5rem, //80px
);

//========Colors========// 

$colors: (
   menu-text:#86858B,
   button-mobile: #FED700,
   text: #8D8A94,
   first-section: #FDF3B9,
   second-section: #FFDCD5,
   third-section-title:#23564D,
   third-section-text: #1A807A,
   fourth-section-title: #104C6E,
   fourth-section-text: #126592,
   testimonials:#A7A8AA,
   testimonials-text: #656466,
   subtext: #B6B5B3,
   footer: #90D4C5,
   footer-text: #62A697,
   footer-icons: #2C7566,
);

//========Margin========//

$margin: (
    10: 0.625rem, 
    20: 1.25rem,
    25: 1.563rem,
    30: 1.875rem, 
    60: 3.75rem,
    70:4.375rem,
    250: 6.25rem, 
    400: 25rem,
);

//========Media Queries========//
$phone:768px;
@mixin phone {
    @media(max-width: #{$phone}) {
        @content
    }
}
$tablet: 768px;
@mixin tablet {
    @media(min-width: #{$tablet}) {
        @content
    }
}
$laptop: 1280px;
@mixin laptop {
    @media(min-width: #{$laptop}) {
        @content
    }
}
$desktop: 1920px;
@mixin desktop {
    @media(min-width: #{$desktop}) {
        @content
    }
};

//========Functions========//
 
@function font($font-name) {
    @return map-get($fonts, $font-name)
};

@function size($size-value) {
    @return map-get($sizes, $size-value)
};

@function color($color-name) {
    @return map-get($colors, $color-name)
};

@function spaces($space-value) {
    @return map-get($margin, $space-value)
};

//========Reusable========//

h2 {
    color: #000;
    font-family: font(titles);
    font-size: size(medium);
    font-weight: bold;
    text-align: center;
    line-height: size(semi-large);

    @include tablet {
        font-size: size(semi-large2);
        line-height: size(large);
    }
    @include laptop {
        font-size: size(large);
        text-align: left;
        line-height: size(large-1);
    }
    @include desktop {
        font-size: size(extra-large);
        line-height: 6.25rem;
    }
};

p {
    color: color(text);
    font-family: font(text);
    font-size: size(small);
    font-weight: 600;
    text-align: center;
    line-height: size(semi-medium2);
    margin: spaces(25) 0;

    @include tablet {
        font-size: size(semi-medium);
        line-height: size(semi-large);
    }
    @include laptop {
        text-align: left;
    }
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    width: 16.875rem;
    height: auto;
    margin: spaces(60) auto;

    @include tablet {
        width: 32.188rem;
    }
    @include laptop {
        width: 31.625rem;
    }
    @include desktop {
        width: 46.563rem;
    }
}

.learn__more {
    font-family: font(titles);
    font-size: size(small);
    font-weight: 700;
    text-align: center;
    margin: 0 auto;

    @include tablet {
        font-size: size(semi-medium);
    }
}

.border {
    width: 7.5rem;
    height: 0.438rem;
    margin: 0 auto;
}
//========Base========//
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
};

html {
    scroll-behavior: smooth;
}

//========Header========//
.header {
    width: 100%;
    height: 33.625rem;
    display: flex;
    flex-direction: column;
    .hero__image {
        width: 100%;
        height: 33.625rem;
        padding-top: 143%;
        margin: 0;
        background-image: url(../assets/Images/image-header.jpg);
        background-size: cover;
        position: absolute;
        z-index: -10;
    }

    .nav__container {
        padding: spaces(30) spaces(20);
        width: 100%;
        height: 6.25rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .nav__logo {
            width: 7.75rem;
            height: size(semi-medium2);
        }
        .nav__toggle {
            width: size(semi-medium2);
            height: size(semi-medium2);
            cursor: pointer;
        }
        
        .nav__menu {
            position: absolute;
            background-color: #fff;
            width: 21rem;
            height: 18rem;
            margin-right: spaces(20);
            top: -100%;
            right: 0;

            &:before {
                content: '';
                display: block;
                position: absolute;
                bottom: 100%;
                right: 0;
                border-top: size(medium) solid #3DBEFF;
                border-right: size(medium) solid #fff;
            }

            .nav__list {
                display: flex;
                flex-direction: column;
                align-items: center;
                row-gap: 1rem;

                .nav__item {
                    font-family: font(text);
                    font-size: size(semi-medium);
                    padding-top: spaces(25);
                    
                    a {
                        color: color(menu-text);       
                    }
                }

                .nav__button {
                    margin-top: spaces(20);
                    width: 8.125rem;
                    height: size(large);
                    background-color: color(button-mobile);
                    border: none;
                    border-radius: size(medium);
                    font-family: font(titles);
                    cursor: pointer;
                }
            }


        }
        .show-menu {
            top: 13%; 
        }
        
    }

    .header__title {
        width: 20.625rem;
        height: 5.938rem;
        align-self: center;
        display: flex;
        flex-direction: column;
        row-gap:size(large) ;
        h1 {
            color: #fff;
            font-family: font(titles);
            font-size: size(semi-large);
            text-align: center;
        }
        
        .down__arrow {
            align-self: center;
        }
    }
    @include tablet {
        height: 26.875rem;
        .hero__image {
            height: 26.875rem;
            padding-top: 56%;
            background-image: url(../assets/Images/image-headerDeskt.jpg);
        }
        .nav__container {
            .show-menu {
                top: 10%;
            }
        }
        .header__title {
            width: auto;
            margin-left: 20px;
        }
    }
    @include laptop {
        .nav__container {
            .nav__toggle {
                display: none;
            }

            .nav__menu {
                width: 27.5rem;
                height: size(large);
                background-color: #3DBEFF;
                top: 0;
                
                .nav__list {
                    flex-direction: row;
                    justify-content: space-between;

                    .nav__item {
                        a {
                            color: #fff;
                        }
                    }

                    .nav__button {
                        background-color: #fff;
                    }
                }
            }
        }
        .header__title {
            margin-left: spaces(50);
            margin-top: spaces(250);
            h1 {
                font-size: size(large-1);
            }
        }
    }   
}

//=======MAIN========//
main {
    .content__section {
        .image__transform {
            width: 100%;
            height: 19.438rem;
            padding-top: 83.2%;
            background-image: url(../assets/Images/image-transform.jpg);
            background-size: cover;
        }
        .transform {
            background-color:color(first-section);
        }
        .image__stand {
            width: 100%;
            height: 19.438rem;
            padding-top: 83.2%;
            background-image: url(../assets/Images/image-stand-out.jpg);
            background-size: cover;
        }
        .stand {
            background-color:color(second-section);
        }  
        .graphic__container {
            background-image: url(../assets/Images/image-graphic-design.jpg);
            width: 100%;
            height: 37.5rem;
            background-size: cover;
            display: flex;
            align-items: end;

            h2 {
                color: color(third-section-title)
            }
            p {
                color: color(third-section-text);
            }
        }
        .photography__container {
            background-image: url(../assets/Images/image-photography.jpg);
            width: 100%;
            height: 37.5rem;
            background-size: cover;
            display: flex;
            align-items: end;

            h2 {
                color: color(fourth-section-title);
            }
            p {
                color: color(fourth-section-text);
            }
        }
        @include laptop {
            display: grid;
            margin-top: 30%;
            grid-template-columns: repeat(2, 40rem);
            grid-template-rows: repeat(3, 33.125rem);

            .transformC {
                grid-column-start: 1;
                grid-column-end: 2;
                grid-row-start: 1;
                grid-row-end: 2;
            }

            .graphic__container {
                width: 40rem;
                height: 33.125rem;
                background-image: url(../assets/Images/image-graphic-designDesk.jpg);
                background-size: cover;
                grid-column-start: 1;
                grid-column-end: 2;
                grid-row-start: 3;
                grid-row-end: 4;
                
                h2 {
                    text-align: center;
                }
                p {
                    text-align: center;
                    margin-bottom: 0;
                    padding-bottom: 0;
                }
                .container {
                    margin: spaces(30) auto;
                }
            }
            .photography__container {
                width: 40rem;
                height: 33.125rem;
                background-image: url(../assets/Images/image-photographyLaptop.jpg);
                background-size: cover;
                grid-column-start: 2;
                grid-column-end: 3;
                grid-row-start: 3;
                grid-row-end: 4;

                h2 {
                    text-align: center;
                }
                p {
                    text-align: center;
                }
                .container {
                    margin: spaces(30) auto;
                }
            }
        }
    }

    .testimonials__section {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: spaces(60);

        h2 {
            font-size: size(small);
            color: color(menu-text);
            letter-spacing: 0.313rem;
        }

        .testimonials {
            display: flex;
            flex-direction: column;
            align-items: center;

                .testimonials__container {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 16.875rem;
                    height: auto;
                    margin: spaces(60) auto 0 auto;
        
                }
                .photo__container {
                    height: 4.5rem;
                    width: 4.5rem;
                    border-radius: 50%;
                }
                .names__container {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    row-gap: size(extra-small);
        
                    .name {
                        font-family: font(titles);
                        font-size: size(small);
                    }
                    .job {
                        font-family: font(text);
                        font-size: size(extra-small);
                        color: color(testimonials-text);
                    }
                }
                @include tablet {
                    row-gap: spaces(70);
                }
                @include laptop {
                    flex-direction: row;
                    justify-content: center;

                    .testimonials__container {
                        width: 21.875rem;

                        p {
                            text-align: center;
                        }
                    }
                }

        }

    }
    .image__section {   
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        margin-top: spaces(60);
        width: 100%;

        .bottom__image {
            background-size: cover;
            height: 11.75rem;
            width: 100%;
        }

        .bottle {
            background-image: url(../assets/Images/image-gallery-milkbottles.jpg);
        }

        .orange {
            background-image: url(../assets/Images/image-gallery-orange.jpg);

        }

        .cone {
            background-image: url(../assets/Images/image-gallery-cone.jpg);
        }

        .sugar {
            background-image: url(../assets/Images/image-gallery-sugar-cubes.jpg);
        }

        @include tablet {
            .bottom__image {
                height: 24.063rem;
            }
            .bottle {
                background-image: url(../assets/Images/image-gallery-milkbottlesTablet.jpg);
            }
            .orange {
                background-image: url(../assets/Images/image-gallery-orangeTablet.jpg);
            }
            .cone {
                background-image: url(../assets/Images/image-gallery-coneTablet.jpg);
            }
            .sugar {
                background-image: url(../assets/Images/image-gallery-sugar-cubesTablet.jpg);
            }
        }

        @include laptop {
            display: flex;
            flex-direction: row;
            width: 85%;
        }
    }

    @include laptop {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

footer {
    width: 100%;
    height: 18.75rem;
    background-color: color(footer);
    display: flex;
    flex-direction: column;
    align-items: center;

    .logo__footer {
        margin-top: spaces(60);
    }

    .footer__link {
        margin-top: spaces(30);
        width: 315px;
        display: flex;
        justify-content: space-between;

        .footer__item {
            font-family: font(text);
            color: color(footer-text);
            font-size: size(semi-medium);
        }

    }
    .footer__socials {
        margin-top: spaces(60);
        display: flex;
        width: 200px;
        justify-content: space-between;
    }
}






